<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          listArray: ["orange", "pineapple", "strawberry"],
          listObject: { favorite: "orange", love: "apple", like: "hah" },
        };
      },
      methods: {},
      template: `
      <div>
        <div><ul><li key="index+item" v-for="item in listArray">{{item}}</li></ul></div>
        <div>
          <ul>
            <template v-for="(value, key, index) in listObject" key="index+value" v-if="value!='orange'">
            <li v-if="value!='orange'">
              [{{index}}] {{key}} {{value}}
            </li>
            </template>
          </ul>
          <span v-for="count in 99">{{count}} |</span>
        </div>
      </div>
      `,
    });
    const vm = app.mount("#app");
  </script>
</html>
